.SquareOne {
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  border: 2px solid;
  background-color: teal;
  position: relative;
  animation-name: test;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.SquareOne:hover {
  animation-play-state: running;
}

@keyframes test {
  0% {
    transform: rotate(0);
    background-color: teal;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: red;
  }
  100% {
    transform: rotate(360deg);
    background-color: teal;
  }
}

.SquareTwo {
  top: 150px;
  left: 100px;
  width: 100px;
  height: 100px;
  border: 2px solid;
  background-color: teal;
  position: relative;
  animation-name: Test2;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.SquareTwo:hover {
  animation-play-state: running;
}

@keyframes Test2 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
