.element {
  position: relative;
  left: 200px;
  border: 1px solid;
  width: 10px;
  height: 10px;
  background-color: red;
}

.element1 {
  position: relative;
  left: 500px;
  top: 500px;
  border: 1px solid;
  width: 100px;
  height: 100px;
}

.Forward {
  width: 10px;
  height: 10px;
  font-size: 0;
  background-color: red;
  border: 1px solid;
  position: relative;
  animation: test 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes test {
  from {
    font-size: 0;
    width: 10px;
    height: 10px;
  }
  to {
    width: 500px;
    height: 600px;
    color: black;
    font-size: 15px;
    background-color: white;
  }
}

.Backwards {
  width: 10px;
  height: 10px;
  border: 1px solid;
  background-color: white;
  position: relative;
  animation: test2 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes test2 {
  from {
    width: 500px;
    height: 600px;
    font-size: 15px;
  }
  to {
    background-color: red;
    font-size: 0;
    height: 10px;
    width: 10px;
  }
}

html {
  margin: auto;
}
